@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body
{
background-color: #20154D;
background-repeat: no-repeat;
font-family: 'Poppins', sans-serif;
}

h1{
    color:rgb(95, 95, 95);
    text-align: center;

}
h2{
    color:rgb(95, 95, 95);
    font-size: 15px;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5a5a5a;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 70%;
    font-size: 1rem;
    margin: 1%;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  input:hover {opacity: 1}


.input-cart{border-top:3px solid #a160ad;margin-top:2%;margin-bottom:50%;}

.confirmar{
    position:relative;
    top:7vw;
    width: 15%;
    padding:1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #8736c9;
    color: white;
    border-radius: 2%;
    left: 20%;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:hover {opacity: 1}

.cancelar
{
position:relative;
top:3.6vw;
width: 15%;
padding:1%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
border: none;
font-family: 'Poppins', sans-serif;
background-color: #4b4b4b;
color: white;
border-radius: 2%;
left: 75%;
opacity: 0.9;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
}

button:hover {opacity: 1}

.casilla{
width: 2%;
position: relative;
}

.entregar{
    font-size: 100%;
    position: relative;
    bottom:1.4vw;
}

div{
    position: relative;
    left: 25%;
    border-radius: 1%;
    background-color: white;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2%;
    height: 20vw;
    top: 50%;
    bottom: 50%;    

}