body
{
  font-family: "SalmaAlfasans", sans-serif;
background-color: #20154D;

}

h2{
  color: white;
  position: relative;
  text-align: center;
  
}

.button1{
  background-image: linear-gradient(to right, #5b00ee 0%, #650ef0  100%);
  color: white;
  margin: 10%;
  padding: 5%;
  position: relative;
  left: 17%;
  border: none;
  border-radius: 3px;
}

.button2{
  background-image: linear-gradient(to right, #5b00ee 0%, #650ef0 100%);
  color:rgb(255, 255, 255);
  margin: 10%;
  padding: 5%;
  position: relative;
  left: 9%;
  border: none;
  border-radius: 3px;
}

.button3{
  background-image: linear-gradient(to right, #5b00ee 0%, #650ef0 100%);
  color:rgb(255, 255, 255);
  margin: 10%;
  padding: 5%;
  position: relative;
  left: 15.5%;
  border: none;
  border-radius: 3px;
}


.card {
  float: left;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452);
  transition: 0.3s;
  width: 22%;
  height: 10%;
  margin: 5%;
  border-radius: 5px;
  background-image: linear-gradient(  #20154D 0%, #300475 100%);
}

div.gallery:hover 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 5%;
}