body
{
  font-family: "SalmaAlfasans", sans-serif;
background-color: #20154D;

}

h2{
  color: white;
}

div{
  width: 320px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  margin: 0;
}

.button1{
  color: rgb(255, 0, 0);
}

.button2{
  color:blue;
}

.button3{
  color:rgb(225, 0, 255);
}